body .container{
  margin : 10% 20% 10% 25%;
  padding: 20px 50px 30px 20px;
  height: 520px;
  background-image: linear-gradient(
    rgba(100, 0, 0, 0.4), 
    rgba(100, 0, 0, 0.4)
  ), url("https://media.pitchfork.com/photos/5c830bf982c70a5c60a01a23/2:1/w_790,h_395,c_limit/City-Pop-lita163_cvrs%20(hi-res).jpg");
  
}

.container {
  width: 800px;
}
.new {
    width: 390px;
    height :500px;
    display: inline;
    float: left;
  }
  
.new1{
    width: 390px;
    height :500px;
    float: right;

}

.tittle {
  font-size: 20px;
  font-weight: bolder;
  padding-left: 30px;
  font-size: 25px;
  color: white;
}
.image {
  width: 100px;
  height: 100px;
  padding-left: 30px;
  margin-right: 20px;
  float: left;
}
.content {
  color:aqua;
  font-size: 17px;
  padding-left: 150px;
  width: 250px;
  height: 110px;
  text-align:justify;
  font-style:italic;
}
/* h1#tittle{
  
} */
.songs{
  font-weight: bold;
  padding:10px 0 0 20px;
  height: 270px;
  margin-left: 28px;
  margin-top: 50px;
  width: 350px;
  background-color :rgba(255, 99, 71, 0.8);
 
}
.songs a{
  color: black;
  text-decoration: none;
}